<!DOCTYPE html>
<html lang="en,el">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/analysis.css">
    <title>PassAnalysis</title>
</head>

<nav class="navbar">
    <div class="max-width">

        <a href="/home">
            <img src="/img/home1.png" alt="Home Page" style="width: 80px;height:80px; margin-left: 10px;">
        </a>
        <div class="btn">
            <a href="#odigies">Οδηγίες </a>
        </div>

        <ul class="menu">
            <li><a href="/pass/AO/2019-01-01/2019-01-31" class="menu-btn">PassesPerStation</a></li>
            <li><a href="/cost/OO/NE/2019-01-01/2019-01-31" class="menu-btn">PassCost</a></li>
            <li><a href="/analysis/OO/NE/2019-01-01/2019-01-31" class="menu-btn">PassesAnalysis</a></li>
            <li><a href="/chargesby/AO/2019-01-01/2019-01-31" class="menu-btn">Chargesby</a></li>
        </ul>

    </div>
</nav>

<body>
    <div class="limiter">
        <div class="uptable">

            <% if(passesAnal !=null){%>
                <h2>
                    Διελεύσεις οχημάτων με tag
                    <%- passesAnalid2 %> απο σταθμούς του
                        <%- passesAnalid1 %>
                </h2>
                <h3>Αριθμός διελεύσεων =
                    <%- JSON.stringify(passAnalnum)%>
                </h3>
        </div>
        <div class="container-table">
            <div class="wrap-table">
                <div class="table">
                    <div class="table-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Pass ID</th>
                                    <th class="cell100 column2">Time</th>
                                    <th class="cell100 column3">Station</th>
                                    <th class="cell100 column4">Pinakida Oxhmatos</th>
                                    <th class="cell100 column5">Kostos</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <% passesAnal.forEach(function(passAnal,index){ %>
                        <div class="table-body js-pscroll">
                            <table>
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">
                                            <%- passAnal.passID %>
                                        </td>
                                        <td class="cell100 column2">
                                            <%- passAnal.timestamp %>
                                        </td>
                                        <td class="cell100 column3">
                                            <%- passAnal.stationRef %>
                                        </td>
                                        <td class="cell100 column4">
                                            <%- passAnal.vehicleRef %>
                                        </td>
                                        <td class="cell100 column5">
                                            <%- passAnal.charge %> €
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <% }) %>
                            <% } else { %>
                                NO POSTES FOUND
                                <% } %>
                </div>
            </div>
        </div>
    </div>
</body>


<br>
<br>
<br>
<footer id="odigies">
    <strong>Οδηγίες:</strong><br> Για άλλους operator και ενδεχομένος διαφορετικές ημερομηνίες, <strong>απαιτείται αλλαγή του url.</strong><br> Οι αποδεκτοί operator <i>AO,EG,GF,KO,MR,NE,OO</i><br> Οι ημερομηνίες εισαγόνται με την εξής μορφη
    <strong>αποκλειστικά</strong> YYYY-MM-DD<br> Για παράδειγμα: <i> analysis/OO/NE/2020-12-15/2021-01-01 </i>
</footer>

</html>